html, body, h1, #map {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

h1 {
    left: 20px;
    top: 10px;
    height: auto;
    bottom: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
}