html, body, h1, main {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

h1 {
    top: 10px;
    height: 3rem;
    text-align: center;
}

/* The two "pages" of the html document are main element, <main id="map"> and <main id="login">
   They should only be visible if the body has the correct class name. */
main {
    display: none;
    top: 3rem;
}

/* <main id="map"> is only visible if <body class="showmap"> */
body.showmap > main#map {
    display: block;
}

/* <main id="login"> is only visible if <body class="showlogin"> */
body.showlogin > main#login {
    display: flex;
}

main#login {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: grid;
    grid-gap: 0.5rem;
}

label {
    grid-column: 1/2;
}

input {
    grid-column: 2/4;
}

input[type=checkbox] {
    grid-column: 2/3;
}

input[type=submit] {
    grid-column: 3/4;
}

#loginerror {
    color: red;
}